body {
    background-color: #63678f;
}

header h1 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 50px;
}

header p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
    font-weight: lighter;
    padding-bottom: 10px; 
}

.hero h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    font-size:25px;
    padding-top: 20px;
}

.hero h6 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-weight: bold;
}

hr {
    width: 100%;
    border: 1px solid black;
}

.stats h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    font-size: 25px;
}