body {
    background-color: #add8e6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

html {
    scroll-behavior: smooth;
}

.AboutMe {
    background-color: white;
    font-family: SegoeUI, Arial, Sans-serif;
    color: rgba(62, 70, 123, 0.8);
    font-size: 20px;
    padding: 10px 20px 10px 20px;
     transition: all 1s ease;
     margin-bottom: 20px;
     margin-top: 20px;
     line-height: 1.5;
     border-radius: 10px;
     border: 2px solid rgba(62, 70, 123, 0.8);
}

.AboutMe h1 {
    text-align: center;
    font-size: 50px;
    color: rgba(62, 70, 123, 0.8);
    font-weight: bolder;
}

.AboutMe:hover {
    background-color: lightgoldenrodyellow;
    color: rgba(36, 40, 67, 0.8);
    transform: translateY(-5px);
     box-shadow: 0 8px 18px rgb(0, 0, 0, 0.2);
     filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
}

.Projects {
    background-color: lightgray;
    font-family: ArialBlack;
    color: rgba(62, 70, 123, 0.8);
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    font-family: SegoeUI, Arial, Sans-serif;
    transition: all 1s ease;
     margin-bottom: 20px;
    border-radius: 10px;
    border: 2px solid rgba(62, 70, 123, 0.8);
}

.Projects h1 {
    text-align: center;
    font-size: 50px;
    color: rgba(26, 31, 62, 0.8);
    font-weight: bolder;
}

.Projects h3 {
    text-align: left;
    font-size: 30px;
    color: rgba(12, 17, 45, 0.8);
}

.Projects p {
    text-align: justify;
    font-size: 20px;
    color: rgba(33, 36, 60, 0.8);
    line-height: 1.5;
}

.Projects:hover {
    background-color: lightgoldenrodyellow;
    color: rgba(36, 40, 67, 0.8);
     transform: translateY(-5px);
    box-shadow: 0 12px 30px rgba(0,0,0,0.2);
     filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
}